@model PasswordEdit
 
@{
    ViewData["Title"] = "Change Password";
}


<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>@ViewData["Title"]</h1>
        <section>
            <form asp-action="ChangePassword" method="post">
                <hr />
                <div class="form-group">
                    <input type="hidden" name="Id" value="@Model.User.Id" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="Password" name="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-contoller="Admin" asp-action="Index" >Back To List</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}