@model EManager3User
@{
    ViewData["Title"] = "Change Account Info";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form  method="post">
            <h4>Update account.</h4>
            <div class="form-group">
                <p>
                    <a asp-contoller="Admin" asp-action="ChangePassword" asp-route-id="@Model.Id">Change password</a>
                </p>
            </div>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex"></label>
                <select asp-for="Sex" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatus"></label>
                <select asp-for="MaritalStatus" class="form-control">
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                </select>
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfChildren"></label>
                <input asp-for="NumberOfChildren" class="form-control" />
                <span asp-validation-for="NumberOfChildren" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <input asp-for="isActive" value="true" />
                <label asp-for="isActive"></label>
                <span asp-validation-for="isActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentDate"></label>
                <input asp-for="EmploymentDate" class="form-control" />
                <span asp-validation-for="EmploymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighestEducationQualification"></label>
                <select asp-for="HighestEducationQualification" class="form-control">
                    <option value="" class="text-muted">Select Qualification</option>
                    <option value="Primary School">Primary School</option>
                    <option value="WASSCE">WASSCE</option>
                    <option value="OND">OND</option>
                    <option value="HND">HND</option>
                    <option value="Bachelor">Bachelor</option>
                    <option value="PGD">PGD</option>
                    <option value="MASTERS">MASTERS</option>
                    <option value="PH.D">PH.D</option>
                </select>
                <span asp-validation-for="HighestEducationQualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School"></label>
                <input asp-for="School" class="form-control" />
                <span asp-validation-for="School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceYear"></label>
                <input asp-for="ServiceYear" class="form-control" />
                <span asp-validation-for="ServiceYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPosition"></label>
                <input asp-for="CompanyPosition" class="form-control" />
                <span asp-validation-for="CompanyPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastPromotionDate"></label>
                <input asp-for="LastPromotionDate" class="form-control" />
                <span asp-validation-for="LastPromotionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearlySalary"></label>
                <input asp-for="YearlySalary" class="form-control" />
                <span asp-validation-for="YearlySalary" class="text-danger"></span>
            </div>
            @* <div class="form-group" >
                <label asp-for="Users"></label>
                <select asp-for="Users" class="" multiple>
                    @foreach (EManager3User user in Model.Users)
                    {
                        <option value="@user.Id">@user.UserName</option>
                    } 
                </select>
                <span asp-validation-for="User.Sex" class="text-danger"></span>
            </div> *@
            <button type="submit" class="btn btn-primary">Update</button>
            
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}